:root {
  --primaryColor: #271959;
  --deepBlue: #0b0726;
  --darkBlue: #181240;
  --tributePurple: #70308c;
  --tributePink: #fbe5f8;
}
.titleHeader {
  display: grid;

  width: 100%;
  height: 100px;
  align-items: center;
  justify-items: center;
  overflow-y: visible;
}
.headerBanner {
  width: 690px;
  justify-self: center;
  align-self: center;
}

#title {
  color: white;
  font-family: "Permanent Marker", cursive;
  background: #0b0726;
  background: -webkit-linear-gradient(
    to top,
    #0b0726 0%,
    #70308c 15%,
    #fbe5f8 58%
  );
  background: -moz-linear-gradient(
    to top,
    #0b0726 0%,
    #70308c 15%,
    #fbe5f8 58%
  );
  background: linear-gradient(to top, #0b0726 0%, #70308c 15%, #fbe5f8 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 60px;
  z-index: 2;
  margin-top: -50px;
  margin-left: -5%;
}
body {
  background-image: url(../images/space.jpg);
  background-repeat: space;
  margin: 0px 10%;
}

hr {
  color: var(--tributePink);
}

#tribute-info {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 25, 89, 0.5);

  grid-row-gap: 20px;
}
.seasonsHeader {
  color: white;
  padding: 1% 2%;
}

.season {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 100px 0 100px;
}
.seasonPic {
  width: 200px;
  -webkit-box-shadow: 5px 5px 15px 5px #70308C; 
  box-shadow: 5px 5px 15px 5px #70308C;
}
.seasonInfo {
  background-color: transparent;
  color: white;
  height: 200px;
  padding: 0 10%;
  font-size: 14px;
}
.seasonInfo p {
  width: 90vmin;
}
.seasonInfo p::selection {
  color: var(--tributePurple);
}
.responsive-img {
  max-width: 100%;
  height: auto;
}
